# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

src/KillerRun/Dependencies/* linguist-vendored
src/KillerRun/Dependencies/SDL2-2.0.4/include/* linguist-vendored
src/KillerRun/Dependencies/SDL2_image-2.0.1/include/* linguist-vendored
src/KillerRun/Dependencies/SDL2_mixer-2.0.1/include/* linguist-vendored
src/KillerRun/Dependencies/SDL2_ttf-2.0.14/include/* linguist-vendored
